<div class="container">
  <div class="row">
    <h2>detail of book</h2>
    <h3>title</h3>
    <%= @book.title %>
    <h3>body</h3>
    <%= @book.body %>
    <%= link_to "Edit",edit_book_path(@book.id) %>
     |
    <%= link_to "Back",books_path %>
  </div>
</div>