<div class="container">
  <div class="name">
    <h1>ようこそ！！<strong>BOOKERSへ！！</strong></h1>
  </div>

  <div class="introduction">
    <p>このサイトでは、さまざまな書籍に関するあなたの意見や、</p>
    <p>印象などを共有し、交換することができます。</p>
  </div>

  <%= link_to "スタート！" ,books_path %>
</div>